#####################################################
# Title:         Rclone VFS Primer - Service        #
# Author(s):     EnorMOZ                            #
#                                                   #
#####################################################
#                GNU General Public License v3.0    #
#####################################################

[Unit]
Description=sharedrive %i primer - service
Requires=${mycname}@%i.service
After=${mycname}@%i.service

[Service]
EnvironmentFile=${myinspth}/sharedrives/%i.conf
User=${myuser}
Group=${mygroup}
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=${mybinary} rc vfs/refresh \
  --config=${myinspth}/config/smount.conf \
  --rc-addr=localhost:${RCLONE_RC_PORT} \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --timeout=1h \
  -vvv \

[Install]
WantedBy=default.target
