####################################################################
# Title:         Rclone VFS Service                                #
# Author(s):     desimaniac, Horjulf, davemaster223, RXWatcher     #
#                                                                  #
####################################################################
#                GNU General Public License v3.0                   #
####################################################################

[Unit]
Description=rclone ${mycname} VFS
# Depend on network
After=network-online.target

[Service]
Type=notify

User=${myuser}
Group=${mygroup}

# Mount command
EnvironmentFile=${myinspth}/sharedrives/%i.conf
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p ${DESTINATION_DIR}
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 ${DESTINATION_DIR}
ExecStartPre=-/usr/bin/sudo /bin/chown -R ${myuser}:${mygroup} ${DESTINATION_DIR}
ExecStart=${mybinary} mount \
  --config=${myinspth}/config/smount.conf \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --allow-other \
  --drive-skip-gdocs \
  --fast-list \
  --rc \
  --rc-no-auth \
  --use-mmap \
  --rc-addr=localhost:${RCLONE_RC_PORT} \
  --dir-cache-time=168h \
  --poll-interval=30s \
  --timeout=10m \
  --cache-dir=/mnt/disk2/mygreatcache \
  --vfs-cache-max-age=24h \
  --vfs-cache-mode=writes \
  --vfs-cache-poll-interval=30s \
  --vfs-cache-max-size=600G \
  --vfs-read-chunk-size=16M \
  --vfs-read-chunk-size-limit=512M \
  --buffer-size=2M \
  --tpslimit-burst=50 \
  --transfers=16 \
  --checkers=12 \
  --umask=002 \
  --syslog \
  -v \
  ${SOURCE_REMOTE} ${DESTINATION_DIR}
# Unmount on stop
ExecStop=/bin/umount -l ${DESTINATION_DIR}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
