[Unit]
Description=MergerFS for Sharedrive Mount
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/mergerfs \
  -o category.create=ff,minfreespace=0,allow_other \
  -o dropcacheonclose=true,xattr=nosys \
  -o statfs_ignore=ro,use_ino,umask=0002,noatime \
  -o async_read=false,cache.files=partial \
  ${myrwmdir}=RW:${myromdir}=NC ${mymdir}
ExecStop=/bin/fusermount -u ${mymdir}

[Install]
WantedBy=default.target
