#########################################################################
# Title:         Cloudbox: Rclone VFS Primer - Service                  #
# Location:      /etc/systemd/system/rclone_vfs_primer.service          #
# Author(s):     EnorMOZ                                                #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Wildhare %i Primer - Service
Requires=teamdrive@%i.service
After=teamdrive@%i.service



[Service]
EnvironmentFile=/opt/sharedrives/%i.conf
User=$user
Group=$group
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone \
  --config /home/$user/.config/rclone/rclone.conf \
  --timeout=1h \
  -vvv \
  --rc-addr=localhost:${RCLONE_RC_PORT} \
  rc vfs/refresh

[Install]
WantedBy=default.target
