#########################################################################
# Title:         Cloudbox: Rclone VFS Primer - Service                  #
# Location:      /etc/systemd/system/rclone_vfs_primer.service          #
# Author(s):     EnorMOZ                                                #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=sharedrive %i primer - service
Requires=teamdrive@%i.service
After=teamdrive@%i.service



[Service]
EnvironmentFile=/opt/sharedrives/%i.conf
User=$user
Group=$group
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone rc vfs/refresh \
  --config /home/$user/.config/rclone/rclone.conf \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --timeout=1h \
  -vvv \
  --rc-addr=localhost:${RCLONE_RC_PORT} \

[Install]
WantedBy=default.target
