#########################################################################
# Title:         Rclone VFS Service                                     #
# Location:      /etc/systemd/system/rclone_vfs_primer.timer            #
# Author(s):     desimaniac, Horjulf, davemaster223, RXWatcher          #
#                                                                       #
#                                                                       #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
#########################################################################

[Unit]
Description=rclone VFS
# Depend on network
After=network-online.target
# Check directories

[Service]
Type=notify

User=$user
Group=$group

# Mount command
EnvironmentFile=/opt/sharedrives/%i.conf
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p $DESTINATION_DIR
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 $DESTINATION_DIR
ExecStartPre=-/usr/bin/sudo /bin/chown -R $user:$group $DESTINATION_DIR
ExecStart=/usr/bin/rclone mount \
  --config=/home/$user/.config/rclone/rclone.conf \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --rc-addr=localhost:${RCLONE_RC_PORT} \
  --allow-other \
  --allow-non-empty \
  --fast-list \
  --rc \
  --rc-no-auth \
  --drive-skip-gdocs \
  --buffer-size=32M \
  --vfs-read-ahead=128M \
  --vfs-read-chunk-size=32M \
  --vfs-read-chunk-size-limit=2G \
  --vfs-cache-mode=full \
  --vfs-cache-max-age=168h \
  --vfs-cache-max-size=50G \
  --poll-interval=1m \  
  --dir-cache-time=168h \
  --timeout=10m \
  --umask=002 \
  --async-read=false \
  --syslog \
  -v \
  ${SOURCE_REMOTE} ${DESTINATION_DIR}

# Unmount on stop
ExecStop=/bin/fusermount -uz ${DESTINATION_DIR}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
