# name           sharedriveID
td_anime         teamdriveID1
td_audiobooks    teamdriveID2
td_ebooks        teamdriveID3
td_movies        teamdriveID4
td_tv            teamdriveID5
#end-of-file